rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // TODO: una vez agregado App Check, exigirlo aqui tambien en `write`
    // para mitigar subidas de spam durante el flujo publico de creacion.
    match /invitations/{invitationId}/{kind}/{fileName} {
      allow read: if true; // los assets de una invitacion publica deben ser accesibles sin auth
      allow write: if request.resource.size < 8 * 1024 * 1024
                   && (kind == "music" || request.resource.contentType.matches("image/.*"));
    }
  }
}
